<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>B</key>
	<dict>
		<key>X</key>
		<integer>-10</integer>
		<key>public.kern2.Y</key>
		<integer>-30</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>periodcentered.case</key>
		<integer>30</integer>
		<key>public.kern2.A</key>
		<integer>-20</integer>
		<key>public.kern2.J</key>
		<integer>-30</integer>
		<key>public.kern2.period</key>
		<integer>-80</integer>
	</dict>
	<key>G</key>
	<dict>
		<key>periodcentered.case</key>
		<integer>30</integer>
		<key>public.kern2.Y</key>
		<integer>-20</integer>
	</dict>
	<key>Germandbls</key>
	<dict>
		<key>X</key>
		<integer>-20</integer>
		<key>public.kern2.period</key>
		<integer>-5</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>G</key>
		<integer>-30</integer>
		<key>eth</key>
		<integer>-5</integer>
		<key>guilsinglright</key>
		<integer>-10</integer>
		<key>hyphen</key>
		<integer>-15</integer>
		<key>public.kern2.C</key>
		<integer>-30</integer>
		<key>public.kern2.O</key>
		<integer>-30</integer>
		<key>public.kern2.S</key>
		<integer>-20</integer>
		<key>public.kern2.c</key>
		<integer>-5</integer>
		<key>public.kern2.e</key>
		<integer>-15</integer>
		<key>public.kern2.o</key>
		<integer>-5</integer>
		<key>public.kern2.quoteright</key>
		<integer>-10</integer>
		<key>public.kern2.u</key>
		<integer>-15</integer>
		<key>public.kern2.y</key>
		<integer>-20</integer>
		<key>t</key>
		<integer>-5</integer>
		<key>v</key>
		<integer>-5</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>T</key>
		<integer>-90</integer>
		<key>V</key>
		<integer>-75</integer>
		<key>hyphen</key>
		<integer>-5</integer>
		<key>public.kern2.W</key>
		<integer>-10</integer>
		<key>public.kern2.Y</key>
		<integer>-95</integer>
		<key>public.kern2.y</key>
		<integer>-20</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>X</key>
		<integer>-30</integer>
		<key>periodcentered.case</key>
		<integer>30</integer>
		<key>public.kern2.A</key>
		<integer>-15</integer>
		<key>public.kern2.J</key>
		<integer>-25</integer>
		<key>public.kern2.Y</key>
		<integer>-5</integer>
		<key>public.kern2.period</key>
		<integer>-90</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>V</key>
		<integer>-5</integer>
		<key>hyphen</key>
		<integer>-10</integer>
		<key>public.kern2.Y</key>
		<integer>-45</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>eth</key>
		<integer>-15</integer>
		<key>guilsinglright</key>
		<integer>-5</integer>
		<key>hyphen</key>
		<integer>-10</integer>
		<key>periodcentered.case</key>
		<integer>-20</integer>
		<key>public.kern2.A</key>
		<integer>-75</integer>
		<key>public.kern2.J</key>
		<integer>-90</integer>
		<key>public.kern2.a</key>
		<integer>-10</integer>
		<key>public.kern2.c</key>
		<integer>-5</integer>
		<key>public.kern2.e</key>
		<integer>-55</integer>
		<key>public.kern2.f</key>
		<integer>-5</integer>
		<key>public.kern2.o</key>
		<integer>-60</integer>
		<key>public.kern2.period</key>
		<integer>-80</integer>
		<key>public.kern2.s</key>
		<integer>-10</integer>
		<key>public.kern2.u</key>
		<integer>-35</integer>
		<key>public.kern2.w</key>
		<integer>-5</integer>
		<key>public.kern2.x</key>
		<integer>-20</integer>
		<key>public.kern2.y</key>
		<integer>-25</integer>
		<key>r</key>
		<integer>-35</integer>
		<key>t</key>
		<integer>-5</integer>
		<key>v</key>
		<integer>-15</integer>
		<key>z</key>
		<integer>-10</integer>
	</dict>
	<key>Thorn</key>
	<dict>
		<key>V</key>
		<integer>-5</integer>
		<key>X</key>
		<integer>-25</integer>
		<key>public.kern2.A</key>
		<integer>-15</integer>
		<key>public.kern2.Y</key>
		<integer>-55</integer>
		<key>public.kern2.period</key>
		<integer>-5</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>G</key>
		<integer>-15</integer>
		<key>guilsinglright</key>
		<integer>-5</integer>
		<key>hyphen</key>
		<integer>-15</integer>
		<key>periodcentered.case</key>
		<integer>-50</integer>
		<key>public.kern2.C</key>
		<integer>-15</integer>
		<key>public.kern2.O</key>
		<integer>-15</integer>
		<key>public.kern2.S</key>
		<integer>-20</integer>
		<key>public.kern2.quoteright</key>
		<integer>-5</integer>
		<key>public.kern2.y</key>
		<integer>-15</integer>
	</dict>
	<key>asterisk</key>
	<dict>
		<key>X</key>
		<integer>-30</integer>
		<key>public.kern2.A</key>
		<integer>-20</integer>
		<key>public.kern2.J</key>
		<integer>-20</integer>
		<key>public.kern2.Y</key>
		<integer>-30</integer>
	</dict>
	<key>colon</key>
	<dict>
		<key>T</key>
		<integer>-20</integer>
		<key>public.kern2.Y</key>
		<integer>-30</integer>
	</dict>
	<key>eight</key>
	<dict>
		<key>public.kern2.period</key>
		<integer>-20</integer>
	</dict>
	<key>eightsuperior</key>
	<dict>
		<key>public.kern2.period</key>
		<integer>-20</integer>
	</dict>
	<key>emdash</key>
	<dict>
		<key>public.kern2.Y</key>
		<integer>-5</integer>
	</dict>
	<key>endash</key>
	<dict>
		<key>public.kern2.Y</key>
		<integer>-5</integer>
	</dict>
	<key>five</key>
	<dict>
		<key>public.kern2.period</key>
		<integer>-10</integer>
	</dict>
	<key>fivesuperior</key>
	<dict>
		<key>public.kern2.period</key>
		<integer>-20</integer>
	</dict>
	<key>four</key>
	<dict>
		<key>one</key>
		<integer>-5</integer>
	</dict>
	<key>foursuperior</key>
	<dict>
		<key>public.kern2.period</key>
		<integer>-20</integer>
	</dict>
	<key>guilsinglright</key>
	<dict>
		<key>T</key>
		<integer>-40</integer>
		<key>V</key>
		<integer>-25</integer>
		<key>X</key>
		<integer>-40</integer>
		<key>public.kern2.A</key>
		<integer>-15</integer>
		<key>public.kern2.S</key>
		<integer>-15</integer>
		<key>public.kern2.Y</key>
		<integer>-50</integer>
		<key>public.kern2.x</key>
		<integer>-45</integer>
		<key>public.kern2.y</key>
		<integer>-15</integer>
		<key>z</key>
		<integer>-15</integer>
	</dict>
	<key>h</key>
	<dict>
		<key>public.kern2.y</key>
		<integer>-5</integer>
	</dict>
	<key>hyphen</key>
	<dict>
		<key>G</key>
		<integer>-5</integer>
		<key>T</key>
		<integer>-60</integer>
		<key>V</key>
		<integer>-55</integer>
		<key>X</key>
		<integer>-65</integer>
		<key>Z</key>
		<integer>-35</integer>
		<key>public.kern2.A</key>
		<integer>-45</integer>
		<key>public.kern2.C</key>
		<integer>-5</integer>
		<key>public.kern2.J</key>
		<integer>-50</integer>
		<key>public.kern2.O</key>
		<integer>-5</integer>
		<key>public.kern2.S</key>
		<integer>-50</integer>
		<key>public.kern2.U</key>
		<integer>-25</integer>
		<key>public.kern2.W</key>
		<integer>-35</integer>
		<key>public.kern2.Y</key>
		<integer>-70</integer>
		<key>public.kern2.a</key>
		<integer>-10</integer>
		<key>public.kern2.f</key>
		<integer>-60</integer>
		<key>public.kern2.i</key>
		<integer>-45</integer>
		<key>public.kern2.j</key>
		<integer>-45</integer>
		<key>public.kern2.s</key>
		<integer>-10</integer>
		<key>public.kern2.u</key>
		<integer>-25</integer>
		<key>public.kern2.x</key>
		<integer>-90</integer>
		<key>public.kern2.y</key>
		<integer>-40</integer>
		<key>r</key>
		<integer>-25</integer>
		<key>t</key>
		<integer>-60</integer>
		<key>v</key>
		<integer>-15</integer>
		<key>z</key>
		<integer>-85</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>eth</key>
		<integer>-20</integer>
		<key>public.kern2.c</key>
		<integer>-25</integer>
		<key>public.kern2.e</key>
		<integer>-25</integer>
		<key>public.kern2.o</key>
		<integer>-25</integer>
	</dict>
	<key>nine</key>
	<dict>
		<key>public.kern2.period</key>
		<integer>-100</integer>
	</dict>
	<key>ninesuperior</key>
	<dict>
		<key>public.kern2.period</key>
		<integer>-20</integer>
	</dict>
	<key>one</key>
	<dict>
		<key>public.kern2.period</key>
		<integer>-25</integer>
	</dict>
	<key>onesuperior</key>
	<dict>
		<key>public.kern2.period</key>
		<integer>-25</integer>
	</dict>
	<key>periodcentered.case</key>
	<dict>
		<key>L</key>
		<integer>20</integer>
		<key>T</key>
		<integer>-30</integer>
		<key>public.kern2.C</key>
		<integer>40</integer>
		<key>public.kern2.O</key>
		<integer>40</integer>
		<key>public.kern2.S</key>
		<integer>20</integer>
		<key>public.kern2.U</key>
		<integer>20</integer>
	</dict>
	<key>public.kern1.A</key>
	<dict>
		<key>G</key>
		<integer>-5</integer>
		<key>T</key>
		<integer>-75</integer>
		<key>V</key>
		<integer>-70</integer>
		<key>hyphen</key>
		<integer>-10</integer>
		<key>periodcentered.case</key>
		<integer>-20</integer>
		<key>public.kern2.C</key>
		<integer>-5</integer>
		<key>public.kern2.O</key>
		<integer>-10</integer>
		<key>public.kern2.Y</key>
		<integer>-80</integer>
		<key>public.kern2.y</key>
		<integer>-10</integer>
	</dict>
	<key>public.kern1.C</key>
	<dict>
		<key>X</key>
		<integer>-15</integer>
		<key>hyphen</key>
		<integer>-10</integer>
	</dict>
	<key>public.kern1.D</key>
	<dict>
		<key>V</key>
		<integer>-5</integer>
		<key>X</key>
		<integer>-20</integer>
		<key>hyphen</key>
		<integer>-5</integer>
		<key>public.kern2.A</key>
		<integer>-15</integer>
		<key>public.kern2.Y</key>
		<integer>-55</integer>
		<key>public.kern2.period</key>
		<integer>-15</integer>
	</dict>
	<key>public.kern1.E</key>
	<dict>
		<key>hyphen</key>
		<integer>-15</integer>
		<key>public.kern2.period</key>
		<integer>-10</integer>
		<key>public.kern2.quoteright</key>
		<integer>-5</integer>
	</dict>
	<key>public.kern1.J</key>
	<dict>
		<key>X</key>
		<integer>-10</integer>
		<key>hyphen</key>
		<integer>-20</integer>
		<key>public.kern2.A</key>
		<integer>-5</integer>
		<key>public.kern2.period</key>
		<integer>-20</integer>
		<key>public.kern2.quoteright</key>
		<integer>-10</integer>
	</dict>
	<key>public.kern1.O</key>
	<dict>
		<key>V</key>
		<integer>-5</integer>
		<key>X</key>
		<integer>-20</integer>
		<key>hyphen</key>
		<integer>-5</integer>
		<key>periodcentered.case</key>
		<integer>30</integer>
		<key>public.kern2.A</key>
		<integer>-10</integer>
		<key>public.kern2.Y</key>
		<integer>-60</integer>
		<key>public.kern2.period</key>
		<integer>-15</integer>
	</dict>
	<key>public.kern1.S</key>
	<dict>
		<key>X</key>
		<integer>-15</integer>
		<key>periodcentered.case</key>
		<integer>20</integer>
	</dict>
	<key>public.kern1.U</key>
	<dict>
		<key>hyphen</key>
		<integer>-10</integer>
		<key>public.kern2.period</key>
		<integer>-15</integer>
	</dict>
	<key>public.kern1.V</key>
	<dict>
		<key>G</key>
		<integer>-5</integer>
		<key>hyphen</key>
		<integer>-10</integer>
		<key>public.kern2.A</key>
		<integer>-70</integer>
		<key>public.kern2.C</key>
		<integer>-5</integer>
		<key>public.kern2.J</key>
		<integer>-40</integer>
		<key>public.kern2.O</key>
		<integer>-5</integer>
		<key>public.kern2.period</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.W</key>
	<dict>
		<key>public.kern2.period</key>
		<integer>-10</integer>
	</dict>
	<key>public.kern1.Y</key>
	<dict>
		<key>G</key>
		<integer>-55</integer>
		<key>asterisk</key>
		<integer>-5</integer>
		<key>colon</key>
		<integer>-5</integer>
		<key>eth</key>
		<integer>-20</integer>
		<key>guilsinglright</key>
		<integer>-20</integer>
		<key>hyphen</key>
		<integer>-20</integer>
		<key>public.kern2.A</key>
		<integer>-80</integer>
		<key>public.kern2.C</key>
		<integer>-55</integer>
		<key>public.kern2.J</key>
		<integer>-85</integer>
		<key>public.kern2.O</key>
		<integer>-60</integer>
		<key>public.kern2.S</key>
		<integer>-25</integer>
		<key>public.kern2.a</key>
		<integer>-70</integer>
		<key>public.kern2.c</key>
		<integer>-15</integer>
		<key>public.kern2.e</key>
		<integer>-70</integer>
		<key>public.kern2.f</key>
		<integer>-15</integer>
		<key>public.kern2.o</key>
		<integer>-70</integer>
		<key>public.kern2.period</key>
		<integer>-120</integer>
		<key>public.kern2.quoteright</key>
		<integer>-15</integer>
		<key>public.kern2.s</key>
		<integer>-85</integer>
		<key>public.kern2.u</key>
		<integer>-40</integer>
		<key>public.kern2.x</key>
		<integer>-40</integer>
		<key>public.kern2.y</key>
		<integer>-5</integer>
		<key>r</key>
		<integer>-40</integer>
		<key>semicolon</key>
		<integer>-10</integer>
		<key>t</key>
		<integer>-15</integer>
		<key>z</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.e</key>
	<dict>
		<key>public.kern2.y</key>
		<integer>-5</integer>
	</dict>
	<key>public.kern1.n</key>
	<dict>
		<key>public.kern2.y</key>
		<integer>-5</integer>
	</dict>
	<key>public.kern1.o</key>
	<dict>
		<key>public.kern2.y</key>
		<integer>-25</integer>
	</dict>
	<key>public.kern1.period</key>
	<dict>
		<key>G</key>
		<integer>-55</integer>
		<key>T</key>
		<integer>-65</integer>
		<key>V</key>
		<integer>-65</integer>
		<key>eth</key>
		<integer>-15</integer>
		<key>public.kern2.C</key>
		<integer>-55</integer>
		<key>public.kern2.O</key>
		<integer>-60</integer>
		<key>public.kern2.U</key>
		<integer>-40</integer>
		<key>public.kern2.W</key>
		<integer>-55</integer>
		<key>public.kern2.Y</key>
		<integer>-75</integer>
		<key>public.kern2.c</key>
		<integer>-15</integer>
		<key>public.kern2.e</key>
		<integer>-15</integer>
		<key>public.kern2.f</key>
		<integer>-40</integer>
		<key>public.kern2.i</key>
		<integer>-25</integer>
		<key>public.kern2.j</key>
		<integer>-25</integer>
		<key>public.kern2.o</key>
		<integer>-15</integer>
		<key>public.kern2.u</key>
		<integer>-20</integer>
		<key>public.kern2.w</key>
		<integer>-25</integer>
		<key>public.kern2.y</key>
		<integer>-115</integer>
		<key>r</key>
		<integer>-5</integer>
		<key>t</key>
		<integer>-45</integer>
		<key>v</key>
		<integer>-70</integer>
	</dict>
	<key>public.kern1.quoteright</key>
	<dict>
		<key>G</key>
		<integer>-45</integer>
		<key>eth</key>
		<integer>-45</integer>
		<key>public.kern2.A</key>
		<integer>-50</integer>
		<key>public.kern2.C</key>
		<integer>-45</integer>
		<key>public.kern2.J</key>
		<integer>-45</integer>
		<key>public.kern2.O</key>
		<integer>-45</integer>
		<key>public.kern2.S</key>
		<integer>-30</integer>
		<key>public.kern2.a</key>
		<integer>-65</integer>
		<key>public.kern2.c</key>
		<integer>-80</integer>
		<key>public.kern2.e</key>
		<integer>-80</integer>
		<key>public.kern2.f</key>
		<integer>-20</integer>
		<key>public.kern2.o</key>
		<integer>-80</integer>
		<key>public.kern2.s</key>
		<integer>-85</integer>
		<key>public.kern2.u</key>
		<integer>-60</integer>
		<key>public.kern2.w</key>
		<integer>-10</integer>
		<key>public.kern2.x</key>
		<integer>-15</integer>
		<key>public.kern2.y</key>
		<integer>-10</integer>
		<key>r</key>
		<integer>-65</integer>
		<key>t</key>
		<integer>-20</integer>
		<key>v</key>
		<integer>-10</integer>
		<key>z</key>
		<integer>-50</integer>
	</dict>
	<key>semicolon</key>
	<dict>
		<key>T</key>
		<integer>-25</integer>
		<key>public.kern2.Y</key>
		<integer>-35</integer>
	</dict>
	<key>seven</key>
	<dict>
		<key>public.kern2.period</key>
		<integer>-110</integer>
	</dict>
	<key>sevensuperior</key>
	<dict>
		<key>public.kern2.period</key>
		<integer>-25</integer>
	</dict>
	<key>six</key>
	<dict>
		<key>public.kern2.period</key>
		<integer>-5</integer>
	</dict>
	<key>sixsuperior</key>
	<dict>
		<key>public.kern2.period</key>
		<integer>-30</integer>
	</dict>
	<key>three</key>
	<dict>
		<key>public.kern2.period</key>
		<integer>-10</integer>
	</dict>
	<key>threesuperior</key>
	<dict>
		<key>public.kern2.period</key>
		<integer>-15</integer>
	</dict>
	<key>twosuperior</key>
	<dict>
		<key>public.kern2.period</key>
		<integer>-20</integer>
	</dict>
	<key>zero</key>
	<dict>
		<key>public.kern2.period</key>
		<integer>-30</integer>
	</dict>
	<key>zerosuperior</key>
	<dict>
		<key>public.kern2.period</key>
		<integer>-15</integer>
	</dict>
</dict>
</plist>
